* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: sandybrown;
    border-style: solid;
    border-bottom-style: none;
    height: 30px;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: green;
    border-style: solid;
    box-sizing: border-box;
}


.first-container {
    position: relative;
    width: clamp(120px, 20vw, 180px);
    aspect-ratio: 1 / 1;
}

.square {
    position: absolute;
    width: 40%;
    aspect-ratio: 1 / 1;
    background-color: red;
    transform: rotate(45deg);
    transform-origin: center;
    border-style: solid;
}

.square1 {
    top: 10%;
    right: 10%;
}

.square2 {
    bottom: 10%;
    left: 10%;
}


.second-container {
    display: flex;
    align-items: center;
    width: clamp(120px, 20vw, 180px);
    margin-top: calc((180px / 2) - (50px / 2));
}

.circle {
    background-color: paleturquoise;
    border-style: solid;
    border-radius: 50%;
    width: clamp(30px, 6vw, 60px);
    height: clamp(30px, 6vw, 60px);
    margin-top: 5px;
    margin-bottom: 5px;
}

.parallels {
    position: relative;
    width: clamp(80px, 15vw, 110px);
    height: clamp(25px, 5vw, 50px);
}

.rectangle {
    position: absolute;
    width: 70%;
    height: clamp(5px, 1vw, 10px);
    background-color: blue;
    left: 10px;
    border-style: solid;
}

.rectangle-top {
    top: 5px;
}

.rectangle-bottom {
    bottom: 5px;
}

.third-container {
    width: clamp(100px, 15vw, 140px);
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.big-rectangle {
    width: 90%;
    height: clamp(200px, 40vh, 300px);
    background-color: white;
    border-style: solid;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
    font-size: clamp(14px, 2vw, 24px);
    text-align: center;
}

@media (max-width: 582px) {
    .main-container {
        flex-direction: column;
        justify-content: flex-start;
    }

    .second-container {
        margin-top: 20px;
    }

    .third-container{
        margin-left: 10px;
    }

    .big-rectangle{
        background-color: blue;
    }
}

@media (min-width: 583px) and (max-width: 900px) {
    .main-container {
        display: grid;
        grid-template-columns: clamp(120px, 20vw, 180px) auto;
        grid-template-rows: auto auto;
    }

    .first-container {
        grid-column: 1;
        grid-row: 1;
    }

    .second-container {
        grid-column: 1;
        grid-row: 2;
        margin-top: 0;
    }

    .third-container {
        grid-column: 2;
        grid-row: 1 / span 2;
    }

    .big-rectangle{
        background-color: darkred;
    }

}
